html, body {
  background: #0f172a;   /* black / dark */
  margin: 0;
  padding: 0;
}
.main {
  min-height: 100vh;
  background: #0f172a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background: #111827;
}

.links a {
  margin-left: 20px;
  text-decoration: none;
  color: rgb(251, 74, 74);
}

.logo {
  font-weight: bold;
  color: rgb(251, 74, 74);
}

/* Hero */
.hero {
  text-align: center;
  margin-top: 120px;
  color: red;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #3b82f6;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* Footer */
.footer {
  text-align: center;
  padding: 30px;
  margin-top: 100px;
  background: #111827;
  color: rgb(251, 74, 74);
}